.git
.gitignore
.env
.env.*
!.env.example
!.env.production.example
.phpunit.cache
.phpunit.result.cache
Dockerfile*
node_modules
npm-debug.log*
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
